---
import { Image } from 'astro:assets';
import banner_shap1 from "../../public/img/new/banner_shap1.png";
import banner_shap2 from "../../public/img/new/banner_shap2.png";
import banner_shap3 from "../../public/img/new/banner_shap3.png";
import banner_shap4 from "../../public/img/new/banner_shap4.png";
const domainApi = import.meta.env.PUBLIC_API_GO_URL;
const datas = await fetch(domainApi + `/api/v1/suggestion/list`, {
  method: 'GET',
  headers: {
    'Content-Type': 'application/json',
  }
}).then((response) => response.json());
const suggestion = datas.data
---
<section class="doc_banner_area banner_creative1">
    <ul class="list-unstyled banner_shap_img">
        <li><Image src={banner_shap1} alt=""/></li>
        <li><Image src={banner_shap4} alt=""/></li>
        <li><Image src={banner_shap3} alt=""/></li>
        <li><Image src={banner_shap2} alt=""/></li>
        <li><img data-parallax='{"x": -180, "y": 80, "rotateY":2000}' src="img/new/plus1.png" alt=""></li>
        <li><img data-parallax='{"x": -50, "y": -160, "rotateZ":200}' src="img/new/plus2.png" alt=""></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="doc_banner_content">
            <h2 class="wow fadeInUp">Tìm Kiếm Bài Hát</h2>
            <p class="wow fadeInUp" data-wow-delay="0.2s">Có thể nhập tên bài hát không dấu hoặc tên bài hát viết tắt (Như: Áo Mới Cà Mau => amcm)</p>
            <form action="#" class="header_search_form">
                <div class="header_search_form_info">
                    <div class="form-group">
                        <div class="input-wrapper">
                            <i class="icon_search"></i>
                            <input type='search' id="searchbox" autocomplete="off" name="search" placeholder="Nhập tên bài hát..." />
							<select class="search-expand-types custom-select" name="post_type" id="search_post_type">
                                <option value="">Tất cả </option>
                                <option value="bolero">Bolero</option>
                                <option value="vpop">Nhạc trẻ</option>
                                <option value="giong-co">Giọng cổ</option>
                            </select>
                            <div class="dropdown-menu shadow mt-1" id="search-dropdown">
                                <!-- Item 1 -->
                                <div class="search-item">
                                    <div class="row g-2">
                                        <div class="col-auto">
                                            
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <strong>Vui lòng nhập tên bài hát</strong>
                                            </div>
                                            <small class="text-muted"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="search-item text-center text-primary fw-bold">
                                   Không tìm thấy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_search_keyword">
                    <span class="header-search-form__keywords-label">Đang Thịnh Hành:</span>
                    <ul class="list-unstyled">
                        {suggestion.map((item: any) => (
                        <li class="wow fadeInUp" data-wow-delay="0.2s"><a href="#">{item.search}</a></li>
                        ))}
                    </ul>
                </div>
            </form>
        </div>
    </div>
</section>